<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearby.messages.nearbyconnection">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.nearby.messages.nearbyconnection.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NearbyCommunication" >
        <activity android:name=".ui.lobby.LobbyActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.hostchat.HostChatActivity"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar"/>
        <activity android:name=".ui.chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar"/>
        <activity android:name=".ui.hostquiz.HostQuizActivity"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar"/>
        <activity android:name=".ui.quiz.QuizActivity"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar"/>
    </application>
</manifest>
